
<div class="container">
    <p class="h4 text-secondary">Products home</p>
    <div class="row">
        <div class="col-ms-3" *ngFor="let product of products">
        <div class="card">
            <img class="card-img-top" src="product.imgurl" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{product.pname}}</h5>
              <p class="card-text">{{product.descr}}</p>
            </div>
            <div class="card-body">
              
              <button class="btn btn-success" (click)="addtoCart(product.pid, uid)">add to cart</button>
              
            </div>
          </div>
        </div>
    </div>
</div>