<div class="container">
    <p class="h4 d-flex justify-content-center text-secondary">User Signup Form</p>
    <div class="d-flex justify-content-center">
        <div class="col-xs-2 form">
            <form [formGroup]="userform" (ngSubmit)="register()">
                <div class="form-group">
                    <div class="form-control">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control">
                        <!-- <div class="alert alert-danger"
                            *ngIf="userform.controls['name'].touched && userform.controls['name'].errors?.['required']">
                            name required
                        </div> -->
                    </div>

                    <div class="form-control">
                        <label for="mobile">mobile</label>
                        <input type="number" formControlName="mob" class="form-control">
                        <!-- <div class="alert alert-danger"
                            *ngIf="userform.controls['mob'].touched && userform.controls['mob'].errors?.['required']">
                            mobile required
                        </div> -->
                    </div>

                    <div class="form-control">
                        <label for="city">city</label>
                        <input type="text" formControlName="city" class="form-control">
                        <!-- <div class="alert alert-danger"
                            *ngIf="userform.controls['city'].touched && userform.controls['city'].errors?.['required']">
                            name required
                        </div> -->
                    </div>

                    <div class="form-control">
                        <label for="contry">contry</label>
                        <input type="text" formControlName="contry" class="form-control">
                        <!-- <div class="alert alert-danger"
                            *ngIf="userform.controls['contry'].touched && userform.controls['contry'].errors?.['required']">
                            name required
                        </div> -->
                    </div>

                    <div class="form-control">
                        <label for="zipcode">zipcode</label>
                        <input type="number" formControlName="zipcode" class="form-control">
                        <!-- <div class="alert alert-danger"
                            *ngIf="userform.controls['zipcode'].touched && userform.controls['zipcode'].errors?.['required']">
                            name required
                        </div> -->
                    </div>
                    <fieldset formGroupName="usercred">
                        <legend>User Credentials</legend>
                        <div class="form-group">

                            <div class="form-control">
                                <label for="email">Email</label>
                                <input type="text" formControlName="email" class="form-control">
                                
                            </div>

                            <div class="form-control">
                                <label for="password">password</label>
                                <input type="password" formControlName="password" class="form-control">
                                
                            </div>
                        </div>
                    </fieldset>
                    <div class="d-flex justify-content-center" id="buttongroup">
                        <button class="btn btn-success outline-dark" [disabled]="!userform.valid" type="submit">Register</button>&nbsp;
                        <button class="btn btn-warning outline-dark" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>