<p>searchedprods works!</p>
<div class="container">
    <p class="h4 text-secondary">Searched Products</p>
    <div class="row">
        <div class="col-md-3" *ngFor="let product of prods | filter:matchText">
            <div class="card">
            <img class="card-img-top" src="product.imgurl" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{product.pname}}</h5>
              <p class="card-text">{{product.descr}}</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
    </div>
</div>