<div class="conntainer">
    <p class="h4">Categoris </p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category name</th>
            <th>Category Products</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categ of category">
            <td>{{categ.catid}}</td>
            <td>{{categ.catname}}</td>
            <td><a routerLink="/admin/listproductsbycuisinid/{{categ.catid}}">Get Products</a> </td>
        </tr>
    </tbody>
</table>

</div>