
<div class="container">
    <p class="h4">Order Details</p>
    <!-- <button class="btn btn-success" (click)="goback()">go back</button> -->

    <div class="d-flex justify-content-centre">
      
        <table class="table table-bordered">
            <tr>
                <th>order ID</th>
                <th>order date</th>
                <th>Order Value</th>
            </tr>
            <tr>
                <td>{{order.oid}}</td>
                <td> {{order.orderDate}}</td>
                <td>{{order.orderValue}}</td>

            </tr>
        </table>
      
        
    </div>
    <div >
        <p *ngFor="let pr of prod"><a routerLink="/user/productdetails/{{prod}}">>Get Product</a></p>
    </div>
    
</div>
