<p>changepassword </p>
<div class="container">
    <form [formGroup]="changepass"  (ngSubmit)="changepwd()">
        <div class="form-group">
            <div class="form-control">
                <input type="text" class="form-control" formControlName="newpassword1">
            </div>
            <div class="form-control">
                <input type="text" class="form-control" formControlName="newpassword2">
            </div>
        </div>
        <button class="btn btn-success" [disabled]="!changepass.valid" type="submit">Change Password</button>
       
    </form>

</div>


