<p>productsbycid works!</p>

<div class="container">
    <div class="col-ms-9">
    <p class="h4 text-outline-success">List Of All Products by Cuisines</p>
    <table class="table table-bordered-secondary">
        <thead>
            <tr>
                <th>PID</th>
                <th>PName</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image URL</th>
                <th>Status is Enabled</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of product">
                <td>{{prod.pid}}</td>
                <td>{{prod.pname}}</td>
                <td>{{prod.price}}</td>
                <td>{{prod.descr}}</td>
                <td>{{prod.imgurl}}</td>
                <td>{{prod.enabled}}</td>
                <td><button class="btn btn-warning" (click)="updateProduct(prod.pid)">Update {{prod.pname}}</button></td>
                <td><button class="btn btn-danger" (click)="removeProduct(prod.pid)">Remove {{prod.pname}}</button></td>
            </tr>
        </tbody>

    </table>
</div>
</div>
