<br>
<div class="col-ms-12">
    <h3>{{usrname}} 's Menu</h3>
<div class=" nav-bar ">
<a routerLink="./addproduct" class="btn btn-primary nav-link ">Add Product</a>
<a routerLink="./addcategory" class="btn btn-primary nav-link">Add category</a>
<a routerLink="./category" class="btn btn-primary nav-link">show category</a>
<a routerLink="./listproducts" class="btn btn-primary nav-link">show Product</a>
<a routerLink="./listusers" class="btn btn-primary nav-link">show Users</a>
<a routerLink="./orders" class="btn btn-primary nav-link">List Orders</a>
<button class="btn btn-danger " (click)="logout()">logout</button>
</div>
</div>