<p class="h4">User Cart</p>
<!-- 
{{products|json}} -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Remove-from-Cart</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.pname}}</td>
            <td>{{product.descr}}</td>
            <td>{{product.price}}</td>
            <td> <button class="btn btn-danger" (click)="removePRoduct(product.pid, uid)"> Remove {{product.pname}} from Cart </button></td>
        </tr>
        <tr>
            <td class="d-flex justify-content-center" colspan="4" ><button class="btn btn-success" (click)="checkout(uid)">Proceed to Checkout</button></td>
        </tr>
    </tbody>
</table>
