<div class="container">

    <div class="d-flex justify-content-center" id="flexbox">
    <div class="col-ms-8">
        <div ></div>
        <form [formGroup]="admlogin" (ngSubmit)="Login()">
          <div class="form-group">
            <div class="form-control">
            <label for="email">Email/Username</label>
            <input type="text" formControlName="email" class="form-control">
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control">
            </div>
            <div >
                <button class="btn btn-success" type="submit" [disabled]="!admlogin.valid">Login</button>
                <button class="btn btn-danger" type="reset" [disabled]="!admlogin.valid">Reset</button>
            </div>

        </div>
        </form>
        <!-- <button class="btn btn-primary" (click)="isAdminLoggedIn()">is login</button> -->
    </div>
</div>
</div>
